.summary-table-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

.summary-table-text-size {
  font-size: 1.2em;
}

.summary-table-header {
  font-size: 1.3em;
  text-align: center;
}